body {
  margin: 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  padding-top: 10px;
}
.calendar div {
  background: #eee;
  border: 1px solid black;
  transition: transform 0.5s, background 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar div:hover {
  cursor: pointer;
  background: pink;
  transform: translate(0, -20px);
}
.calendar div:nth-child(1)::after {
  content: "1";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(2)::after {
  content: "2";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(3)::after {
  content: "3";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(4)::after {
  content: "4";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(5)::after {
  content: "5";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(6)::after {
  content: "6";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(7)::after {
  content: "7";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(8)::after {
  content: "8";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(9)::after {
  content: "9";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(10)::after {
  content: "10";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(11)::after {
  content: "11";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(12)::after {
  content: "12";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(13)::after {
  content: "13";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(14)::after {
  content: "14";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(15)::after {
  content: "15";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(16)::after {
  content: "16";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(17)::after {
  content: "17";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(18)::after {
  content: "18";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(19)::after {
  content: "19";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(20)::after {
  content: "20";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(21)::after {
  content: "21";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(22)::after {
  content: "22";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(23)::after {
  content: "23";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(24)::after {
  content: "24";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(25)::after {
  content: "25";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(26)::after {
  content: "26";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(27)::after {
  content: "27";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(28)::after {
  content: "28";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(29)::after {
  content: "29";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(30)::after {
  content: "30";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.calendar div:nth-child(31)::after {
  content: "31";
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.calendar-mon > div:nth-child(1) {
  grid-column-start: 1;
}

.calendar-tue > div:nth-child(1) {
  grid-column-start: 2;
}

.calendar-wed > div:nth-child(1) {
  grid-column-start: 3;
}

.calendar-thu > div:nth-child(1) {
  grid-column-start: 4;
}

.calendar-fri > div:nth-child(1) {
  grid-column-start: 5;
}

.calendar-sat > div:nth-child(1) {
  grid-column-start: 6;
}

.calendar-sun > div:nth-child(1) {
  grid-column-start: 7;
}

.calendar-28 div:nth-child(28) ~ div {
  display: none;
}

.calendar-29 div:nth-child(29) ~ div {
  display: none;
}

.calendar-30 div:nth-child(30) ~ div {
  display: none;
}

/*# sourceMappingURL=style.css.map */
